header { 
   
    background-color:rgb(78, 208, 255);
    color: rgb(1, 1, 1);
    padding: 20px;
    grid-area: header;
}
header a{
    display: none;
}
nav {
    background-color: rgba(0, 0, 0, 0.784);
    grid-area: nav;
    display: flex;
    justify-content: left; 
    align-items: left   ; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration-color: rgb(255, 255, 255);
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 
    gap: 15px; 
    text-decoration-color: rgb(255, 255, 255);
}

main {
    
    background-color:rgb(78, 208, 255);
    color: white;
    grid-area: main;
}
body {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto;
    grid-template-areas: 
        "header header header"
        "nav nav nav"
        "aside main aside"
        "footer footer footer";
}