    
header { 
  
    background-color:rgb(5, 43, 17);
    color: white;
    padding: 20px;
    grid-area: header;
  }  
  body {
    background-color: rgb(38, 197, 255);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "header "
        "nav"
        "main"
        "footer"
    ;
  }